*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: rgb(122, 150, 245);
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid rgb(3, 3, 3);
}

#header{
    height: 145px;
    background-color: rgb(79, 93, 221);
    color: rgb(10, 10, 10);
    text-align: center;
    line-height: 100px;
}
#Logo{
    float: left;
    margin-left: 20px;
    padding: 20px;
}
#Logo img{
    height: 100px;
    float: left;
}
#menu{

    background-color: rgb(160, 178, 236);
    color: rgb(88, 159, 177);
    height: 50px;
    border-bottom: 4px solid rgb(3, 3, 3);
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(24, 13, 13);
}

#menu a{
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    
}

#menu a:hover{
    background: rgb(113, 187, 221)

}

#content{
    margin: 3px auto;
    background: rgb(180, 199, 93);
}
/*barra lateral*/
#lateral{
    width: 17%;
    min-height: 650px;
    border: 1px solid red;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
}

#lateral h3{
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px solid #01b1ea;

}

#central{
    width: 78%;
    min-height: 650px;
    float: right;
    border: 1px solid rgb(211, 231, 29);
}
