*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: rgb(122, 150, 245);
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid rgb(14, 13, 13);
}

#header{
    height: 140px;
    background-color: rgb(79, 93, 221);
    color: rgb(10, 10, 10);
    text-align: center;
    line-height: 100px;
}
#Logo{
    float: left;
    margin-left: 20px;
    padding: 20px;
}
#Logo img{
    height: 80px;
    float: left;
}
#menu{

    background-color: rgb(160, 178, 236);
    color: rgb(88, 159, 177);
    height: 50px;
    border-bottom: 4px solid rgb(3, 3, 3);
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(24, 13, 13);
}

#menu a{
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    
}

#menu a:hover{
    background: rgb(113, 187, 221)
}